@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: QuarkLight;
  src: url(fonts/Quark-Light.otf);
}

@font-face {
  font-family: QuarkBold;
  src: url(fonts/Quark-Bold.otf);
}

* {font-size: 16px;}
body {
  margin: 0;
  font-family: 'Kanit', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px !important;
  font-weight: 300 !important;
}

.container {
  max-width: 1440px !important;
}

.titlenamehotel{
  font-size: 1.6em;
  color: #071c55;
  font-weight: 500;
  line-height: 1.2em;
}

.topicmain{
  color: #000000;
}

.pricehotelmain{
  font-size: 1.6em;
  color: #d80c28;
  font-weight: 500;
}

.fw500{
  font-weight: 500;
}

.bdr{
  border-radius: 12px;
}

.image-box {
  position: relative;
  margin: auto;
  overflow: hidden;
}
.image-box img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}

.image-box:hover img {
  transform: scale(1.1);
}

.boxmotel:hover .image-box img  {
  transform: scale(1.1);
}


code {
  font-family: 'Mitr', sans-serif;
}

.barmain{
  height: 550px;
  background-color: #ccc;
  background: url(img/bg2.jpg);
  align-items: center;
    display: flex;
    background-size: cover;
    background-position: center center;
}

.fw400{
  font-weight: 400;
}

.fs4{
  font-size: 4em;
}

.fs2{
  font-size: 2em;
}

.fs15{
  font-size: 1.1em;
  line-height: 1.5em;
}

.fsbarbot{
  font-size: 13px;
}

.bdr30{
  border-radius: 30px;
}

.detailmotel{
  font-size: 14px;
}

.fcw{
  color: #fff;
}

.bgviolet{
  background:#111b8e;
}

.btnviolet {
  color: #fff !important;
  background-color: #4202de !important;
  border-color: #4202de !important;
  border-radius: 30px !important;
}

.bgw{
  background: #fff;
}

.txtcoloryellow{
  color: gold;
}

.pricediscount{
  text-decoration: line-through;
}

.telnum{
  font-size: 1.5em;
}

.mailfooter{
  font-size: 1.5em;
}

.copyright{
  background: #0f1771;
  font-size: 14px;
}

@media screen and (max-width: 1280px) {
  .titlenamehotel{
    font-size: 1.1em;
  }

  .pricehotelmain{
    font-size: 1.1em;
  }

  .telnum{
    font-size: 1.1em;
  }
  
  .mailfooter{
    font-size: 1.1em;
  }
  
}